

body {
	background: #e7e7e5;
	margin:0;
	padding:0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.8rem;
	line-height: 1rem;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    perspective: 3000px;    
}
a{
	color: inherit;
	text-decoration: none;
}

a:hover{
	 border-bottom: 2px solid;
}


h1{
    font-family: "Helvetica Neue";
    font-weight: 600;
    letter-spacing: -.03em;
    font-size: 1em;
    margin-left: 1vw auto;
    line-height: 1.2em;
    text-align: center;
}

h2{
  font-family: "Helvetica Neue";
    font-weight: 400;
    letter-spacing: -.03em;
    font-size: .8em;
    line-height: 1.2em;
}

.foot{
    position: fixed;
    bottom: 
}

.top{
    margin-top: 8vh;
}


.ori img{
    width: 35vw;
}
    
.ori{
    margin-left: 2vw;
    position: absolute;
    display: inline-block;
    
}

.nextto{
    float: right;
}


.section-1{
    position:relative;
    height: 100vh;
}


section{
    position: absolute;
    top: 40vh;
    left: 70vw;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(120deg) rotateY(-130deg);
}

section2{
    position: absolute;
    top: 40vh;
    left: 30vw;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateX(320deg) rotateY(-230deg);
}


div.face {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

div.face-cover{
    width:132px;
    height: 415px;
    background-image:url(img/1.png);
    transform: translateX(-50%) translateY(-50%) translateZ(66px);
}


div.face-side{
    width:132px;
    height: 415px;
    background-image:url(img/2.png);
    transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(66px);
}

div.face-spine{
    width:132px;
    height: 415px;
    background-image:url(img/3.png);
    transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(66px);
}

div.face-top{
    width:132px;
    height: 132px;
    background-image:url(img/top.png);
    transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(207.5px);
}

div.face-bottom{
    width:132px;
    height: 132px;
    background-image:url(img/bottom.png);
    transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(207.5px);
}

div.face-back{
    width:132px;
    height: 415px;
    background-image:url(img/4.png);
    transform: translateX(-50%) translateY(-50%) rotateY(180deg) translateZ(66px);
}


div.face-cover2{
    width:132px;
    height: 415px;
    background-image:url(img/23.png);
    transform: translateX(-50%) translateY(-50%) translateZ(66px);
}


div.face-side2{
    width:132px;
    height: 415px;
    background-image:url(img/24.png);
    transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(66px);
}

div.face-spine2{
    width:132px;
    height: 415px;
    background-image:url(img/22.png);
    transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(66px);
}

div.face-top2{
    width:132px;
    height: 132px;
    background-image:url(img/2top.png);
    transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(207.5px);
}

div.face-bottom2{
    width:132px;
    height: 132px;
    background-image:url(img/2bot.png);
    transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(207.5px);
}

div.face-back2{
    width:132px;
    height: 415px;
    background-image:url(img/21.png);
    transform: translateX(-50%) translateY(-50%) rotateY(180deg) translateZ(66px);
}


.heading{
	margin-top: 0;
	margin-left: 2vw;
    padding-bottom: 5vw;
}

.info{
    position: relative;
    padding-bottom: 10vw;
    max-width: 40vw;
    margin-left: 30vw;
}

#work-container{
    position: relative;
    margin-left: 2vw;
    max-width: 96vw;
    padding-bottom: 2vh;
}

#work-container img{
    width: 100%;
    height: 100%;
	 display: block !important;
 }

.cycle-slideshow{
	position: relative;
	background: #000;
}


.cycle-next{
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	z-index: 9999;
	cursor: e-resize;
}

.container {
    display: inline-block;
    cursor: pointer;
    float: right;
    padding-right: 50px;
    padding-top: 20px;
	}




});
