@media screen and (min-width: 0px) and (max-width: 900px) {

    h1{
      font-size: 1.3em;
    }

    h2{
      font-size: 1.3em;
    }

    .title{
      width: 90%;
      margin-left: 3vw;
    }



}
