@font-face {
    font-family: "NSW01";
    src:url("NSW01.woff") format('woff');
}

@font-face {
    font-family:"Söhne Leicht";
    src:url("Söhne_Leicht.woff") format('woff');
}

@font-face {
    font-family: "Söhne Kräftig";
    src:url("Söhne_Kräftig.woff") format('woff');
}



a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    }

.container{
    margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }


body, html {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #023BE3;
    color: #fff;
    width: 100%;
    }

h1{
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 1vh;
  opacity: .7;
}

h2{
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline .5px;
  position: fixed;
  right: 3vw;
  bottom: 1vh;
}


h4{
  font-family: "NSW01";
  font-size: 20em;
  line-height: 0.9em;
  text-align: center;
  font-weight: 400;
  font-style: normal;
}

li{
  list-style-type:none;
}

.main-nav{
      position: sticky;
      top: 1vh;
      margin: 1vh auto;
      width: 80%;
}

.work{
  z-index: 1;
  position: relative;
  padding-left: 2vw;
}

.work img{
  max-width: 96vw;
  padding-top: 3vh;
}

.work #half{
  max-width: 45%!important;
  float: right;
}

footer{
position: relative;   
background-color:#023BE3;
z-index: 2;
top: 0;
}

.information {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    width: 28vw;
    line-height: 1.4em;
    margin-left: 2vw;
    padding-right: 4vw;
}


@media screen and (min-width: 0px) and (max-width: 856px) {

h4{
  font-size: 12em;
  line-height: 0.83em;
  text-align: left;
  margin-left:0;
  top: -1vw;
  margin-top: 0;
  max-width: 100vw;
  position: relative;
}
    
    
    .information{
    display: grid;
     grid-template-columns: 100vw;
    }
    
    
    .container{
    margin-bottom: 2vh;
}s

h1{

}


.main-nav{
      z-index: 1;
      margin-left: 2vw;
      max-width: 100vw;
}
